body {
  background-color: #212121;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:hover {
  color: #000000;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.header {
  background-color: #333333;
  padding: 20px;
}

.main {
  padding: 20px;
}

.section {
  margin-top: 20px;
}

.footer {
  padding: 20px;
  background-color: #444444;
}

